<html>

<head>
    <title>
        Email Template
    </title>
    <style></style>
</head>

<body>
    <table style="color:#666;font:13px Arial;line-height:1.4em;width:100%" cellpadding="10" cellspacing="0">
        <tbody>
            <tr>
                <td style="color:brown;font-size:22px;border-bottom:2px solid brown"> VouchDog </td>
            </tr>
            <tr>
                <td style="color:#777;font-size:16px;padding-top:5px">
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    {{{content}}}
                </td>
            </tr>
            <tr>
                <td style="padding:15px 20px;text-align:center;padding-top:5px;border-top:solid 1px #dfdfdf"> Accelus India Private Limited | Noida, UP, India | Contact : info@vouchdog.com | Tel: +91 120 454 0115 |
                    Business Hours : Mon to Fri, 10 am to 5:30 pm </td>
            </tr>
        </tbody>
    </table>
</body>

</html>