<html>

<head>
    <title>
        Email Template
    </title>
    <style></style>
</head>

<body>
    <table style="color:#666;font:13px Arial;line-height:1.4em;width:100%" cellpadding="10" cellspacing="0">
        <tbody>
            <tr>
                <td> {{{header}}} </td>
            </tr>
            <tr>
                <td style="color:#777;font-size:16px;padding-top:5px">
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    {{{content}}}
                </td>
            </tr>
            <tr>
                <td>
                    {{{footer}}}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>